@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;

}

#banner {
  background-image: url(https://www.wallpaperbetter.com/wallpaper/410/130/452/almonds-ice-cream-1080P-wallpaper-middle-size.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px;
  display: block;
  color: #f0f0f0;
  font-size: 20px;
  text-align: center;
  padding-bottom: 100px;
}

main {
  background-color: rgb(220, 170, 170);
  background-size: cover;
  color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

h2 {
  padding-top: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blocoComentario {
  display: flex;
  flex-wrap: wrap;
}

#blocoComentario div {
  gap: 8px;
  background-color: rgba(245, 243, 238, 0.274);
  padding: 20px;
  margin-bottom: 30px;
}

#blocoComentario h3 {
  font-size: 30px;
}

#blocoComentario img {
  height: 200px;  
  width: 200px;
}

#blocoComentario span {
  color: rgb(92, 2, 84);
}
